<h2>About Stox S.N. Schulz</h2>

<p>This site shows data from the Amsterdam Stock Exchange in a way not found elsewhere yet. </p>

<h3>What we show &amp; how we get it</h3>

<p>Each trade day after hours, results of all 75 stocks in the AEX, AMX and AScX are aggregated. From this, five shortlists are computed and shown on the main page. Most columns in the lists speak for themselves. Two might need clarification:  </p>

<ul>
<li><p><strong>BW</strong> is bandwidth, the absolute change range over the last 52 weeks:  </p>

<p>BW = 52 week high - 52 week low [Euro's]</p></li>
<li><p><strong>pct_BW</strong> is the price as percentage of bandwidth:  </p>

<p>pct_BW = 100 * (price - 52 week low) / (52 week high - 52 week low) [%]  </p></li>
</ul>

<p>Price is closing price. Bandwidth and percent scale help compute the shortlists. Shortlists can have up to ten line items, but will be shorter it that makes sense.   </p>

<ul>
<li><p><em>Top</em> n <em>Stijgers</em> are the fastest climbers for the day. Price has to be at least 1% up in order to get on this list.  </p></li>
<li><p><em>Top</em> n <em>Dalers &lt; 30% scale</em> are the steepest fallers for the day. Price has to be at least 1% down, and must be less than 30% of Bandwidth. If you buy, buy the dip.  </p></li>
<li><p><em>Top</em> n <em>BW</em>  have the largest bandwidth <em>and</em> the price is in the lower 40% of that bandwidth. Buy only if there might be room for growth.  </p></li>
<li><p><em>Top</em> n <em>onderin BW, BW &gt; 3</em> are lowest in their bandwidth, with bandwidth at least 3 euro's. Could be candidates for buying.  </p></li>
<li><p><em>Top</em> n <em>El Chipo, &lt; 25% scale</em> are penny stocks in the bottom quarter of bandwidth. Might also be candidates for buying.  </p></li>
</ul>

<h3>Disclaimer</h3>

<p>The lists aim to help find stocks that are interesting to follow. What you buy or sell is your responsibility. Use common sense. Read the news. Be prudent. Any stock at the bottom of a very high bandwidth could be on its way to oblivion.  </p>

<p>This project is under construction. </p>
