
﻿<html>
  <head>
    <style>
      body {
        font-family: "Verdana", sans-serif;
        font-size: small
      }
      table, th, td {
        font-family: "Consolas", monospace;
        font-size: small; 
        text-align: right;
        vertical-align: top; 
        border-collapse: collapse;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
      }
      td, th {
        width: 40px;
      }
      #th1 {
        text-align: left;
        width: 210px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
      }
      #td1 {
        text-align: left;
      }
      tr:nth-of-type(even) {
        background-color: Azure;
      }
    </style>
    <title>Stox S.N. Schulz</title>
  </head>
  <body>
    <div><a href="/">Home</a> <a href="/about">About</a></div>
    <hr>
    
<h3>Stox S.N. Schulz harvested Wednesday 05 October 2016, 21:38 CET </h3>

  <table>
    <tr>
      <th id="th1"> Top 10 stijgers </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
    <tr>
      <td id="td1">Delta Lloyd </td>
      <td>28,26% </td>
      
      <td>   5.28 </td>
      
      <td>   6.30 </td>
      
      <td>   2.65 </td>
              
      <td>   72.1%</td>
      <td>   3.65</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Ordina </td>
      <td>6,43% </td>
      
      <td>   2.24 </td>
      
      <td>   2.10 </td>
      
      <td>   0.77 </td>
              
      <td>  110.2%</td>
      <td>   1.33</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">Aegon </td>
      <td>4,76% </td>
      
      <td>   3.63 </td>
      
      <td>   5.43 </td>
      
      <td>   3.04 </td>
              
      <td>   24.7%</td>
      <td>   2.39</td>
      <td>aex </td>
    </tr>
    
    <tr>
      <td id="td1">Fugro </td>
      <td>4,05% </td>
      
      <td>  15.02 </td>
      
      <td>  19.28 </td>
      
      <td>  10.34 </td>
              
      <td>   52.3%</td>
      <td>   8.94</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">NN Group </td>
      <td>3,29% </td>
      
      <td>  27.96 </td>
      
      <td>  32.58 </td>
      
      <td>  22.35 </td>
              
      <td>   54.8%</td>
      <td>  10.23</td>
      <td>aex </td>
    </tr>
    
    <tr>
      <td id="td1">ASR Nederland </td>
      <td>2,72% </td>
      
      <td>  18.70 </td>
      
      <td>  20.07 </td>
      
      <td>  17.15 </td>
              
      <td>   53.3%</td>
      <td>   2.92</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Binck </td>
      <td>2,67% </td>
      
      <td>   5.39 </td>
      
      <td>   7.95 </td>
      
      <td>   4.12 </td>
              
      <td>   33.2%</td>
      <td>   3.83</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">TMG </td>
      <td>2,25% </td>
      
      <td>   3.50 </td>
      
      <td>   4.00 </td>
      
      <td>   3.42 </td>
              
      <td>   13.8%</td>
      <td>   0.58</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">Kendrion </td>
      <td>2,22% </td>
      
      <td>  27.60 </td>
      
      <td>  27.87 </td>
      
      <td>  19.00 </td>
              
      <td>   97.0%</td>
      <td>   8.87</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">Arcadis </td>
      <td>2,21% </td>
      
      <td>  13.39 </td>
      
      <td>  18.61 </td>
      
      <td>  11.42 </td>
              
      <td>   27.4%</td>
      <td>   7.19</td>
      <td>amx </td>
    </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 1 dalers, pct_BW < 30% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
    <tr>
      <td id="td1">Lucas Bols </td>
      <td>-1,50% </td>
      
      <td>  15.80 </td>
      
      <td>  21.86 </td>
      
      <td>  15.40 </td>
              
      <td>    6.2%</td>
      <td>   6.46</td>
      <td>ascx </td>
    </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 3 BW, pct_BW < 40% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
    <tr>
      <td id="td1">Unibail-Rodamco </td>
      <td>-3,96% </td>
      
      <td> 228.25 </td>
      
      <td> 251.75 </td>
      
      <td> 212.70 </td>
              
      <td>   39.8%</td>
      <td>  39.05</td>
      <td>aex </td>
    </tr>
    
    <tr>
      <td id="td1">Flow Traders </td>
      <td>1,38% </td>
      
      <td>  27.19 </td>
      
      <td>  49.32 </td>
      
      <td>  26.50 </td>
              
      <td>    3.0%</td>
      <td>  22.82</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Wereldhave </td>
      <td>-1,03% </td>
      
      <td>  44.27 </td>
      
      <td>  56.57 </td>
      
      <td>  38.96 </td>
              
      <td>   30.2%</td>
      <td>  17.61</td>
      <td>amx </td>
    </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 6 onderin BW, BW > 3 </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
    <tr>
      <td id="td1">Flow Traders </td>
      <td>1,38% </td>
      
      <td>  27.19 </td>
      
      <td>  49.32 </td>
      
      <td>  26.50 </td>
              
      <td>    3.0%</td>
      <td>  22.82</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Air France-KLM </td>
      <td>0,74% </td>
      
      <td>   4.78 </td>
      
      <td>   8.62 </td>
      
      <td>   4.65 </td>
              
      <td>    3.3%</td>
      <td>   3.97</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">VastNed Retail </td>
      <td>-0,31% </td>
      
      <td>  35.14 </td>
      
      <td>  44.55 </td>
      
      <td>  34.69 </td>
              
      <td>    4.6%</td>
      <td>   9.86</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Lucas Bols </td>
      <td>-1,50% </td>
      
      <td>  15.80 </td>
      
      <td>  21.86 </td>
      
      <td>  15.40 </td>
              
      <td>    6.2%</td>
      <td>   6.46</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">OCI </td>
      <td>0,11% </td>
      
      <td>  13.28 </td>
      
      <td>  22.80 </td>
      
      <td>  11.50 </td>
              
      <td>   15.8%</td>
      <td>  11.30</td>
      <td>amx </td>
    </tr>
    
    <tr>
      <td id="td1">Value8 </td>
      <td>0,12% </td>
      
      <td>   6.47 </td>
      
      <td>  10.23 </td>
      
      <td>   5.73 </td>
              
      <td>   16.4%</td>
      <td>   4.50</td>
      <td>ascx </td>
    </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 4 El Chipo, pct_BW < 25% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
    <tr>
      <td id="td1">KPN </td>
      <td>-1,48% </td>
      
      <td>   2.92 </td>
      
      <td>   3.69 </td>
      
      <td>   2.77 </td>
              
      <td>   16.6%</td>
      <td>   0.92</td>
      <td>aex </td>
    </tr>
    
    <tr>
      <td id="td1">TMG </td>
      <td>2,25% </td>
      
      <td>   3.50 </td>
      
      <td>   4.00 </td>
      
      <td>   3.42 </td>
              
      <td>   13.8%</td>
      <td>   0.58</td>
      <td>ascx </td>
    </tr>
    
    <tr>
      <td id="td1">Aegon </td>
      <td>4,76% </td>
      
      <td>   3.63 </td>
      
      <td>   5.43 </td>
      
      <td>   3.04 </td>
              
      <td>   24.7%</td>
      <td>   2.39</td>
      <td>aex </td>
    </tr>
    
    <tr>
      <td id="td1">Air France-KLM </td>
      <td>0,74% </td>
      
      <td>   4.78 </td>
      
      <td>   8.62 </td>
      
      <td>   4.65 </td>
              
      <td>    3.3%</td>
      <td>   3.97</td>
      <td>amx </td>
    </tr>
            
  </table>
  </br>
        

  </body>
</html>