<h2>Stox S.N. Schulz harvested on Saturday 08 October 2016, 21:32 CET </h2>

  <table>
    <tr>
      <th id="th1"> stijgers</th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Aperam</td>
        <td>3,22%</td>
        
          <td>  41.39</td>
        
          <td>  40.57</td>
        
          <td>  25.72</td>
                
        <td>  105.5%</td>
        <td>  14.85</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Delta Lloyd</td>
        <td>2,98%</td>
        
          <td>   5.42</td>
        
          <td>   6.30</td>
        
          <td>   2.65</td>
                
        <td>   75.8%</td>
        <td>   3.65</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Sif Holding</td>
        <td>2,56%</td>
        
          <td>  14.64</td>
        
          <td>  15.97</td>
        
          <td>  13.37</td>
                
        <td>   49.0%</td>
        <td>   2.60</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">ArcelorMittal</td>
        <td>2,31%</td>
        
          <td>   5.67</td>
        
          <td>   5.90</td>
        
          <td>   2.62</td>
                
        <td>   92.9%</td>
        <td>   3.28</td>
        <td>aex</td>
      </tr>
    
      <tr>
        <td id="td1">Fugro</td>
        <td>1,80%</td>
        
          <td>  15.30</td>
        
          <td>  19.28</td>
        
          <td>  10.34</td>
                
        <td>   55.5%</td>
        <td>   8.94</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">TMG</td>
        <td>1,63%</td>
        
          <td>   3.62</td>
        
          <td>   4.00</td>
        
          <td>   3.42</td>
                
        <td>   34.5%</td>
        <td>   0.58</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">KasBank</td>
        <td>1,29%</td>
        
          <td>   8.11</td>
        
          <td>  10.80</td>
        
          <td>   7.89</td>
                
        <td>    7.4%</td>
        <td>   2.91</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">Nieuwe Steen Inv.</td>
        <td>1,29%</td>
        
          <td>   3.70</td>
        
          <td>   4.20</td>
        
          <td>   3.45</td>
                
        <td>   32.9%</td>
        <td>   0.75</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">ICT Group</td>
        <td>1,02%</td>
        
          <td>  10.36</td>
        
          <td>  10.86</td>
        
          <td>   7.50</td>
                
        <td>   85.0%</td>
        <td>   3.36</td>
        <td>ascx</td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> dalers, pct_BW < 30%</th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">OCI</td>
        <td>-2,70%</td>
        
          <td>  12.77</td>
        
          <td>  22.80</td>
        
          <td>  11.50</td>
                
        <td>   11.2%</td>
        <td>  11.30</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Arcadis</td>
        <td>-2,22%</td>
        
          <td>  13.02</td>
        
          <td>  18.61</td>
        
          <td>  11.42</td>
                
        <td>   22.2%</td>
        <td>   7.19</td>
        <td>amx</td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> BW, pct_BW < 40%</th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Unibail-Rodamco</td>
        <td>-1,22%</td>
        
          <td> 219.40</td>
        
          <td> 251.75</td>
        
          <td> 212.70</td>
                
        <td>   17.2%</td>
        <td>  39.05</td>
        <td>aex</td>
      </tr>
    
      <tr>
        <td id="td1">Randstad</td>
        <td>-2,06%</td>
        
          <td>  42.02</td>
        
          <td>  57.53</td>
        
          <td>  32.58</td>
                
        <td>   37.9%</td>
        <td>  24.95</td>
        <td>aex</td>
      </tr>
    
      <tr>
        <td id="td1">Flow Traders</td>
        <td>-0,45%</td>
        
          <td>  26.82</td>
        
          <td>  49.32</td>
        
          <td>  26.50</td>
                
        <td>    1.4%</td>
        <td>  22.82</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Wereldhave</td>
        <td>-0,65%</td>
        
          <td>  43.59</td>
        
          <td>  56.57</td>
        
          <td>  38.96</td>
                
        <td>   26.3%</td>
        <td>  17.61</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Gemalto</td>
        <td>-1,82%</td>
        
          <td>  55.95</td>
        
          <td>  65.46</td>
        
          <td>  50.50</td>
                
        <td>   36.4%</td>
        <td>  14.96</td>
        <td>aex</td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> onderin BW, BW > 3</th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">VastNed Retail</td>
        <td>-1,24%</td>
        
          <td>  34.38</td>
        
          <td>  44.55</td>
        
          <td>  34.69</td>
                
        <td>   -3.1%</td>
        <td>   9.86</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Flow Traders</td>
        <td>-0,45%</td>
        
          <td>  26.82</td>
        
          <td>  49.32</td>
        
          <td>  26.50</td>
                
        <td>    1.4%</td>
        <td>  22.82</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM</td>
        <td>0,17%</td>
        
          <td>   4.71</td>
        
          <td>   8.62</td>
        
          <td>   4.65</td>
                
        <td>    1.5%</td>
        <td>   3.97</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Lucas Bols</td>
        <td>0,22%</td>
        
          <td>  15.79</td>
        
          <td>  21.86</td>
        
          <td>  15.40</td>
                
        <td>    6.0%</td>
        <td>   6.46</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">OCI</td>
        <td>-2,70%</td>
        
          <td>  12.77</td>
        
          <td>  22.80</td>
        
          <td>  11.50</td>
                
        <td>   11.2%</td>
        <td>  11.30</td>
        <td>amx</td>
      </tr>
    
      <tr>
        <td id="td1">Value8</td>
        <td>-0,46%</td>
        
          <td>   6.45</td>
        
          <td>  10.23</td>
        
          <td>   5.73</td>
                
        <td>   16.0%</td>
        <td>   4.50</td>
        <td>ascx</td>
      </tr>
    
      <tr>
        <td id="td1">Unibail-Rodamco</td>
        <td>-1,22%</td>
        
          <td> 219.40</td>
        
          <td> 251.75</td>
        
          <td> 212.70</td>
                
        <td>   17.2%</td>
        <td>  39.05</td>
        <td>aex</td>
      </tr>
    
      <tr>
        <td id="td1">Arcadis</td>
        <td>-2,22%</td>
        
          <td>  13.02</td>
        
          <td>  18.61</td>
        
          <td>  11.42</td>
                
        <td>   22.2%</td>
        <td>   7.19</td>
        <td>amx</td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> El Chipo, pct_BW < 25%</th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">KPN</td>
        <td>-1,06%</td>
        
          <td>   2.80</td>
        
          <td>   3.69</td>
        
          <td>   2.77</td>
                
        <td>    3.3%</td>
        <td>   0.92</td>
        <td>aex</td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM</td>
        <td>0,17%</td>
        
          <td>   4.71</td>
        
          <td>   8.62</td>
        
          <td>   4.65</td>
                
        <td>    1.5%</td>
        <td>   3.97</td>
        <td>amx</td>
      </tr>
            
  </table>
  </br>
        
