<h3>Stox S.N. Schulz harvested on Saturday 22 October 2016, 23:03 CET </h3>

  <table>
    <tr>
      <th id="th1"> Top 10 climbers </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">ArcelorMittal </td>
        <td>4,35% </td>
        
          <td>   6.16 </td>
        
          <td>   5.90 </td>
        
          <td>   2.62 </td>
                
        <td>  108.0%</td>
        <td>   3.28</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Fugro </td>
        <td>3,06% </td>
        
          <td>  16.16 </td>
        
          <td>  19.28 </td>
        
          <td>  10.34 </td>
                
        <td>   65.1%</td>
        <td>   8.94</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Randstad </td>
        <td>2,97% </td>
        
          <td>  45.70 </td>
        
          <td>  57.53 </td>
        
          <td>  32.58 </td>
                
        <td>   52.6%</td>
        <td>  24.95</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">OCI </td>
        <td>2,36% </td>
        
          <td>  12.58 </td>
        
          <td>  22.80 </td>
        
          <td>  11.50 </td>
                
        <td>    9.6%</td>
        <td>  11.30</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Altice </td>
        <td>1,95% </td>
        
          <td>  17.25 </td>
        
          <td>  16.92 </td>
        
          <td>  11.24 </td>
                
        <td>  105.7%</td>
        <td>   5.68</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">ASML </td>
        <td>1,86% </td>
        
          <td>  96.03 </td>
        
          <td>  99.35 </td>
        
          <td>  71.75 </td>
                
        <td>   88.0%</td>
        <td>  27.60</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">KasBank </td>
        <td>1,70% </td>
        
          <td>   8.14 </td>
        
          <td>  10.80 </td>
        
          <td>   7.89 </td>
                
        <td>    8.7%</td>
        <td>   2.91</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Delta Lloyd </td>
        <td>1,60% </td>
        
          <td>   5.41 </td>
        
          <td>   6.30 </td>
        
          <td>   2.65 </td>
                
        <td>   75.7%</td>
        <td>   3.65</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Aperam </td>
        <td>1,50% </td>
        
          <td>  41.99 </td>
        
          <td>  41.54 </td>
        
          <td>  25.72 </td>
                
        <td>  102.8%</td>
        <td>  15.82</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">ASMI </td>
        <td>1,31% </td>
        
          <td>  37.78 </td>
        
          <td>  40.02 </td>
        
          <td>  32.14 </td>
                
        <td>   71.6%</td>
        <td>   7.88</td>
        <td>amx </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 2 fallers, pct_BW < 30% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Philips Lighting </td>
        <td>-3,83% </td>
        
          <td>  21.11 </td>
        
          <td>  24.37 </td>
        
          <td>  20.00 </td>
                
        <td>   25.4%</td>
        <td>   4.37</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">TomTom </td>
        <td>-1,60% </td>
        
          <td>   7.89 </td>
        
          <td>  11.88 </td>
        
          <td>   6.24 </td>
                
        <td>   29.3%</td>
        <td>   5.64</td>
        <td>amx </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 4 BW, pct_BW < 40% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Unibail-Rodamco </td>
        <td>-0,35% </td>
        
          <td> 226.95 </td>
        
          <td> 251.75 </td>
        
          <td> 212.70 </td>
                
        <td>   36.5%</td>
        <td>  39.05</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Flow Traders </td>
        <td>0,17% </td>
        
          <td>  27.29 </td>
        
          <td>  49.32 </td>
        
          <td>  26.50 </td>
                
        <td>    3.5%</td>
        <td>  22.82</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Wereldhave </td>
        <td>-2,51% </td>
        
          <td>  44.28 </td>
        
          <td>  56.57 </td>
        
          <td>  38.96 </td>
                
        <td>   30.2%</td>
        <td>  17.61</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Gemalto </td>
        <td>0,14% </td>
        
          <td>  55.67 </td>
        
          <td>  65.46 </td>
        
          <td>  50.50 </td>
                
        <td>   34.6%</td>
        <td>  14.96</td>
        <td>aex </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 7 bottom BW, BW > 3 </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Flow Traders </td>
        <td>0,17% </td>
        
          <td>  27.29 </td>
        
          <td>  49.32 </td>
        
          <td>  26.50 </td>
                
        <td>    3.5%</td>
        <td>  22.82</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">OCI </td>
        <td>2,36% </td>
        
          <td>  12.58 </td>
        
          <td>  22.80 </td>
        
          <td>  11.50 </td>
                
        <td>    9.6%</td>
        <td>  11.30</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Probiodrug </td>
        <td>0,08% </td>
        
          <td>  18.95 </td>
        
          <td>  26.50 </td>
        
          <td>  17.58 </td>
                
        <td>   15.4%</td>
        <td>   8.92</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM </td>
        <td>-0,11% </td>
        
          <td>   5.34 </td>
        
          <td>   8.62 </td>
        
          <td>   4.65 </td>
                
        <td>   17.3%</td>
        <td>   3.97</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">VastNed Retail </td>
        <td>0,49% </td>
        
          <td>  36.20 </td>
        
          <td>  44.55 </td>
        
          <td>  34.38 </td>
                
        <td>   17.9%</td>
        <td>  10.17</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Refresco Gerber </td>
        <td>0,67% </td>
        
          <td>  13.59 </td>
        
          <td>  16.44 </td>
        
          <td>  12.94 </td>
                
        <td>   18.6%</td>
        <td>   3.50</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Lucas Bols </td>
        <td>1,15% </td>
        
          <td>  16.69 </td>
        
          <td>  21.86 </td>
        
          <td>  15.40 </td>
                
        <td>   20.0%</td>
        <td>   6.46</td>
        <td>ascx </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 3 El Chipo, pct_BW < 25% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">KPN </td>
        <td>0,35% </td>
        
          <td>   2.85 </td>
        
          <td>   3.69 </td>
        
          <td>   2.77 </td>
                
        <td>    8.7%</td>
        <td>   0.92</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Nieuwe Steen Inv. </td>
        <td>-0,19% </td>
        
          <td>   3.58 </td>
        
          <td>   4.20 </td>
        
          <td>   3.45 </td>
                
        <td>   17.9%</td>
        <td>   0.75</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM </td>
        <td>-0,11% </td>
        
          <td>   5.34 </td>
        
          <td>   8.62 </td>
        
          <td>   4.65 </td>
                
        <td>   17.3%</td>
        <td>   3.97</td>
        <td>amx </td>
      </tr>
            
  </table>
  </br>
        
