<h3>Stox S.N. Schulz harvested on Saturday 15 October 2016, 21:29 CET </h3>

  <table>
    <tr>
      <th id="th1"> Top 10 climbers </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Altice </td>
        <td>4,54% </td>
        
          <td>  16.68 </td>
        
          <td>  16.90 </td>
        
          <td>  11.24 </td>
                
        <td>   96.1%</td>
        <td>   5.66</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Arcadis </td>
        <td>3,64% </td>
        
          <td>  13.23 </td>
        
          <td>  18.61 </td>
        
          <td>  11.42 </td>
                
        <td>   25.2%</td>
        <td>   7.19</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Binck </td>
        <td>3,59% </td>
        
          <td>   5.45 </td>
        
          <td>   7.95 </td>
        
          <td>   4.12 </td>
                
        <td>   34.8%</td>
        <td>   3.83</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">ABN AMRO </td>
        <td>3,43% </td>
        
          <td>  19.30 </td>
        
          <td>  19.22 </td>
        
          <td>  14.10 </td>
                
        <td>  101.7%</td>
        <td>   5.12</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Stern </td>
        <td>2,74% </td>
        
          <td>  19.14 </td>
        
          <td>  19.89 </td>
        
          <td>  16.20 </td>
                
        <td>   79.5%</td>
        <td>   3.69</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">IMCD </td>
        <td>2,37% </td>
        
          <td>  40.33 </td>
        
          <td>  39.95 </td>
        
          <td>  30.61 </td>
                
        <td>  104.1%</td>
        <td>   9.34</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">TomTom </td>
        <td>2,22% </td>
        
          <td>   7.91 </td>
        
          <td>  11.88 </td>
        
          <td>   6.24 </td>
                
        <td>   29.6%</td>
        <td>   5.64</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Galapagos </td>
        <td>2,16% </td>
        
          <td>  59.02 </td>
        
          <td>  63.78 </td>
        
          <td>  46.72 </td>
                
        <td>   72.1%</td>
        <td>  17.06</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Aegon </td>
        <td>2,14% </td>
        
          <td>   3.72 </td>
        
          <td>   5.43 </td>
        
          <td>   3.04 </td>
                
        <td>   28.6%</td>
        <td>   2.39</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">ING </td>
        <td>2,12% </td>
        
          <td>  11.31 </td>
        
          <td>  12.45 </td>
        
          <td>   8.55 </td>
                
        <td>   70.8%</td>
        <td>   3.90</td>
        <td>aex </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 2 dalers, pct_BW < 30% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Nieuwe Steen Inv. </td>
        <td>-1,62% </td>
        
          <td>   3.59 </td>
        
          <td>   4.20 </td>
        
          <td>   3.45 </td>
                
        <td>   18.7%</td>
        <td>   0.75</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Beter Bed </td>
        <td>-1,10% </td>
        
          <td>  19.74 </td>
        
          <td>  22.42 </td>
        
          <td>  19.02 </td>
                
        <td>   21.2%</td>
        <td>   3.40</td>
        <td>ascx </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 4 BW, pct_BW < 40% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Unibail-Rodamco </td>
        <td>0,78% </td>
        
          <td> 225.25 </td>
        
          <td> 251.75 </td>
        
          <td> 212.70 </td>
                
        <td>   32.1%</td>
        <td>  39.05</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Flow Traders </td>
        <td>0,71% </td>
        
          <td>  27.05 </td>
        
          <td>  49.32 </td>
        
          <td>  26.50 </td>
                
        <td>    2.4%</td>
        <td>  22.82</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Wereldhave </td>
        <td>1,24% </td>
        
          <td>  44.67 </td>
        
          <td>  56.57 </td>
        
          <td>  38.96 </td>
                
        <td>   32.4%</td>
        <td>  17.61</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Gemalto </td>
        <td>0,95% </td>
        
          <td>  56.28 </td>
        
          <td>  65.46 </td>
        
          <td>  50.50 </td>
                
        <td>   38.6%</td>
        <td>  14.96</td>
        <td>aex </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 7 bottom BW, BW > 3 </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">Flow Traders </td>
        <td>0,71% </td>
        
          <td>  27.05 </td>
        
          <td>  49.32 </td>
        
          <td>  26.50 </td>
                
        <td>    2.4%</td>
        <td>  22.82</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM </td>
        <td>1,91% </td>
        
          <td>   4.90 </td>
        
          <td>   8.62 </td>
        
          <td>   4.65 </td>
                
        <td>    6.2%</td>
        <td>   3.97</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">OCI </td>
        <td>0,57% </td>
        
          <td>  12.32 </td>
        
          <td>  22.80 </td>
        
          <td>  11.50 </td>
                
        <td>    7.3%</td>
        <td>  11.30</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Lucas Bols </td>
        <td>1,91% </td>
        
          <td>  16.00 </td>
        
          <td>  21.86 </td>
        
          <td>  15.40 </td>
                
        <td>    9.3%</td>
        <td>   6.46</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">VastNed Retail </td>
        <td>0,28% </td>
        
          <td>  35.35 </td>
        
          <td>  44.55 </td>
        
          <td>  34.38 </td>
                
        <td>    9.5%</td>
        <td>  10.17</td>
        <td>amx </td>
      </tr>
    
      <tr>
        <td id="td1">Probiodrug </td>
        <td>1,08% </td>
        
          <td>  18.70 </td>
        
          <td>  26.50 </td>
        
          <td>  17.58 </td>
                
        <td>   12.6%</td>
        <td>   8.92</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Refresco Gerber </td>
        <td>0,15% </td>
        
          <td>  13.53 </td>
        
          <td>  16.44 </td>
        
          <td>  12.94 </td>
                
        <td>   16.7%</td>
        <td>   3.50</td>
        <td>amx </td>
      </tr>
            
  </table>
  </br>

  <table>
    <tr>
      <th id="th1"> Top 3 El Chipo, pct_BW < 25% </th>
      
        <th> change </th>
      
        <th> price </th>
      
        <th> yrHi </th>
      
        <th> yrLo </th>
      
        <th> pct_BW </th>
      
        <th> BW </th>
      
        <th> index </th>
              
    </tr>
    
      <tr>
        <td id="td1">KPN </td>
        <td>0,36% </td>
        
          <td>   2.82 </td>
        
          <td>   3.69 </td>
        
          <td>   2.77 </td>
                
        <td>    5.7%</td>
        <td>   0.92</td>
        <td>aex </td>
      </tr>
    
      <tr>
        <td id="td1">Nieuwe Steen Inv. </td>
        <td>-1,62% </td>
        
          <td>   3.59 </td>
        
          <td>   4.20 </td>
        
          <td>   3.45 </td>
                
        <td>   18.7%</td>
        <td>   0.75</td>
        <td>ascx </td>
      </tr>
    
      <tr>
        <td id="td1">Air France-KLM </td>
        <td>1,91% </td>
        
          <td>   4.90 </td>
        
          <td>   8.62 </td>
        
          <td>   4.65 </td>
                
        <td>    6.2%</td>
        <td>   3.97</td>
        <td>amx </td>
      </tr>
            
  </table>
  </br>
        
